

.container{
	margin: 50px;
}
form{

 margin-left: 200px;
 width: 300px;
 height: 400;
 border:2px solid red;
 padding: 20px;
 border-radius: 10px;
 background-color: aqua;


}
label{
	text-transform: uppercase;
	color: black;
	font-size: 15px;
}
.one{
text-transform: uppercase;
	color: black;
	font-size: 15px;	
}
input{
	padding: 4px;
	border-radius: 5px;
}
.button{
	background-color: orange;
	padding:6px 15px;
	color: #fff;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 13px;

}
